{# member #}
{% extends 'default/layout.html.twig' %}

{% block content %}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-lg-3">
                        <div class="sidebar">
                            <div class="widget">
                                <div class="user-photo">
                                    {% if user.avatar is empty %}
                                    <a href="#">
                                        <img src="{{asset('assets/img/logo-white.png')}}" alt="Pas d'avatar">
                                        <a href="{{ path('image_member')}}">
                                            <button style="color: red;"><i class="glyphicon glyphicon-pencil" style="color: red;"></i> edit logo</button>
                                        </a>
                                    </a>
                                    {% else %}
                                        <img scr="{{ user.avatar }}" alt="My avatar">
                                        <a href="{{path('image_member')}}">
                                            <button style="color: darkseagreen;"><i class="glyphicon glyphicon-pencil" style="color: darkgray;"></i> Upload Logo </button>
                                        </a>
                                    {% endif %}
                                </div><!-- /.user-photo -->
                            </div><!-- /.widget -->

                            <div class="widget">
                                {{ form_start(memberForm, {attr:{novalidate : 'novalidate'}}) }}
                                <ul class="menu-advanced">
                                    <li><a href="{{ path("change_password") }}"><i class="fa fa-key"></i>  Password</a></li>

                               </ul>
                            </div><!-- /.widget -->

                        </div><!-- /.sidebar -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-8 col-lg-9">
                        <div class="content">
                            <div class="page-title">
                                <h1 class="titre_profil">Profil - Member</h1>
                            </div><!-- /.page-title -->

                            <div class="background-white p20 mb30">
                                <h3 class="page-title">
                                    plug Contact

                                    {#<a href="#" class="btn btn-primary btn-xs pull-right">Save</a>#}
                                </h3>

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>Login/Email</label>
                                        <input type="email" class="form-control" value="{{ user.email }}" readonly="readonly">
                                    </div><!-- /.form-group -->
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        {{ form_row(memberForm.lastName, { 'attr':{'enable':'enable'} }) }}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-3">
                                        {{ form_row(memberForm.firstName, { 'attr':{'enable':'enable'} }) }}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->
                            </div>

                            <div class="background-white p20 mb30">
                                <h3 class="page-title">
                                    Coordonnées

                                    {#<a href="#" class="btn btn-primary btn-xs pull-right">Save</a>#}
                                </h3>

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        {{ form_row(memberForm.streetName, { 'attr':{'enable':'enable'} }) }}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-3">
                                        {{ form_row(memberForm.addressNo, { 'attr':{'enable':'enable'} }) }}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-6">
                                        {{ form_row(memberForm.locality, { 'attr':{'enable':'enable'} }) }}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-3">
                                        {{ form_row(memberForm.postalCode, { 'attr':{'enable':'enable'} }) }}
                                    </div><!-- /.form-gro

                                    up -->

                                </div><!-- /.row -->
                            </div>

                            <div class="background-white p20 mb30">
                                <h3 class="page-title">
                                    Informations complémentaires

                                    {#<a href="#" class="btn btn-primary btn-xs pull-right">Save</a>#}
                                </h3>

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>Date d'inscirpion</label>
                                        <input type="date" class="form-control" value="{{ user.registrationDate|date('Y-m-d') }}" readonly="readonly">
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-3">
                                        <label>Confirmation d'inscription</label>
                                        <input type="text" class="form-control" value="{% if user.confirmed %}yes{% else %}NO{% endif %}" readonly="readonly">
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-6">
                                        <label>Connexion Raté</label>
                                        <input type="text" class="form-control" value="{{ user.testNo }}" readonly="readonly">
                                    </div><!-- /.form-group -->
                                    <div class="form-group col-sm-3">
                                        {{ form_row(memberForm.newsletter, { 'attr':{'enable':'enable'} }) }}
                                    </div><!-- /.form-group -->
                                    <div class="form-group col-sm-3">
                                    {{ form_row(memberForm.confirmed, {attr:{class : ' btn btn-primary btn-xs pull-right submit'}}) }}
                                </div><!-- /.form-group -->
                                </div><!-- /.row -->
                            </div>
                            {{ form_end(memberForm) }}
                        </div><!-- /.content -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}