<section id="body" class="{{error}}">
    <div class="form-group">
    {{ form_start(form, {attr:{novalidate : 'novalidate'}}) }}
    <div class="form-control" >
        {{ form_row(form.password) }}
    </div><!-- /.form-group -->

    <div class="form-control">
        {{ form_row(form.newPassword) }}
    </div><!-- /.form-group -->

    <div class="form-control">
        {{ form_row(form.confNewPassword) }}

    </div><!-- /.form-group -->


        <label class="btn btn-primary pull-right">{{ form_row(form.Edit) }}</label>









    {{ form_end(form) }}
    </div>
</section>