

<button class="bouton_menu" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
    <span class="">Menu</span> <i class="fa fa-chevron-down"></i>
</button>

{# HOME #}
<li>
    <a href="{{ path('homepage') }}">Home <i class="fa"></i></a>
</li>

{# LISTES SERVICES #}
<li>
    <a href="{{ path('list_services') }}">Services<i class="fa"></i></a>

</li>

{# STAGES  #}
<li>
    <a href="{{ path('list_stages') }}">Stages <i class="fa"></i></a>


</li>

{# PROMOTIONS  #}
<li>
    <a href="{{ path('list_promos') }}">Promotions <i class="fa"></i></a>


</li>

<li><a href="#">hello {{ app.user.name }}</a></li>

<ul class="dropdown-menu" style="left: 105%; top:5%" aria-labelledby="dropdownMenu1">
    <li> <a href="{{ path('edit_profil') }}">My profil</a> </li>
    <li> <a href=" {{ path('show_provider',{'slug':app.user.slug}) }} ">M page</a> </li>
    <li> <a href=" {{ path('list_services') }}">My Services</a> </li>

    <li> <a href=" {{ path('list_stages') }}">My Stages</a> </li>

    <li> <a href=" {{ path('list_promos') }}">My Promos</a> </li>

</ul>
