
{# NAVIGATION 2 #}
<div class="header-bottom">
    <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">


        {# HOME #}
        <li>
            <a href="{{ path('homepage') }}">Home <i class="fa"></i></a>
        </li>

        {# LISTES SERVICES #}
        <li>
            <a href="{{ path('list_services') }}">Services<i class="fa"></i></a>

        </li>

        {# STAGES  #}
        <li>
            <a href="{{ path('list_stages') }}">Stages <i class="fa"></i></a>


        </li>

        {# PROMOTIONS  #}
        <li>
            <a href="{{ path('list_promos') }}">Promotions <i class="fa"></i></a>


        </li>

        <li><a href="#">Hello {{ app.user.firstname }}</a></li>

    </ul>


</div><!-- /.header-bottom -->

