
    <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">

        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path("logout") }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path("login") }}">Login</a></li>
            <li><a href="{{ path("signup-start") }}">Register</a></li>

        {% endif %}
        {# NAVIGATION 2 #}
        <div class="header-bottom">


            <ul class="header-nav-secondary nav nav-pills">

        {# Si connecté affiche menu spécifique suivant role #}
        {% if not is_granted('ROLE_ADMIN') %}
            {% if is_granted('ROLE_PROVIDER') %}
                {{ include("default/type_nav/nav_provider.html.twig") }}
            {% elseif is_granted('ROLE_USER') %}
                {{ include("default/type_nav/nav_member.html.twig") }}
            {% endif %}
        {% else %}
            <li><a href="#">Administrateur</a></li>
            {{ include("default/type_nav/nav_admin.html.twig") }}
        {% endif %}


    </ul>


</div><!-- /.header-bottom -->

