 {# découpe formulaire enregistrement #}
{% extends 'default/layout.html.twig' %}
{% block content %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="page-title">
            <h1>Register</h1>
        </div><!-- /.page-title -->

        {{ form_start(form, {attr:{novalidate : 'novalidate'}}) }}
        <div class="form-group" >
            {{ form_row(form.email) }}
        </div><!-- /.form-group -->

        <div class="form-group">
            {{ form_row(form.pwd.first) }}
        </div><!-- /.form-group -->

        <div class="form-group">
            {{ form_row(form.pwd.second) }}
        </div><!-- /.form-group -->

        <div class="">
            {{ form_row(form.userType) }}
        </div><!-- /.form-group -->

            <button type="submit" class="btn btn-primary pull-right">Register</button>
        {{ form_end(form) }}
    </div><!-- /.col-sm-4 -->
</div><!-- /.row -->
    </div>
{% endblock %}