{# AFFICHAGE D'UN STAGE#}
{% extends 'default/layout.html.twig' %}
{% block content %}
    <div class="container">

        <div class="posts post-detail">

            <div class="post-meta clearfix">
                <div class="post-meta-author"><a
                            href="{{ path('show_provider',{'slug':stage.provider.slug}) }}">{{ stage.provider.name }}</a></div>
                <!-- /.post-meta-author -->
                <div class="post-meta-date">du {{ stage.fromDate|date('d-m-Y') }}</div><!-- /.post-meta-date -->
                <div class="post-meta-date">au {{ stage.toDate|date('d-m-Y') }}</div><!-- /.post-meta-date -->
                <div class="post-meta-more"><p class="fa fa-money"> {{ stage.price }} € /jour</p></div>
                <!-- /.post-meta-categories -->
            </div><!-- /.post-meta-categories -->


            <div class="post-content">
                <p class='drop-cap'>{{ stage.description }}</p>
            </div><!-- /.post-content -->

            <div class="post-meta-tags clearfix">
                Tags:
                {% for s in stage.provider.services %}
                    <ul>
                        <li class="tag"><a href="{{ path('show_service', {'slug':s.name}) }}">{{ s.name }}</a></li>
                    </ul>
                {% endfor %}
            </div><!-- /.post-meta -->


        </div>

    </div>

{% endblock %}